.pageHeader__09f24__Ey1v7.pageHeader__09f24__Ey1v7 {
  height: 97px;
}

.sticky-wrapper__09f24__3Aajw {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1012;
  height: 133px;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.border-color--default__09f24__R1nRO {
  border-color: #eeeeef;
}

.sticky-wrapper__09f24__3Aajw .consumer-header-container__09f24__2iDVS {
  transform: translateZ(0);
}

.consumer-header-container__09f24__2iDVS {
  padding: 24px 40px 0;
  pointer-events: auto;
}

.background-color--white__09f24__2jFAt {
  background-color: #fff;
}

.border--bottom__09f24__2FjZW {
  border-bottom: 1px solid #eeeeef;
}

.arrange__09f24__AiSIM {
  display: table;
  min-width: 100%;
  table-layout: auto;
}

.vertical-align-middle__09f24__zNCcM > .arrange-unit__09f24__1gZC1 {
  vertical-align: middle;
}

.arrange__09f24__AiSIM .arrange-unit__09f24__1gZC1 {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

.margin-r4__09f24__1VfYY {
  margin-right: 32px !important;
}

.responsive .logo-container__09f24__3Qmzx,
.v2 .logo-container__09f24__3Qmzx {
  width: calc((100vw - 1144px) / 2 - 78px) !important;
}
.logo-container__09f24__3Qmzx {
  width: calc((100vw - 990px) / 2 - 64px) !important;
  min-width: 80px;
}
.logo__09f24__2iPWz {
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/default.yji-e02121e4b885bf89645bdc9ea402a681.png);
  background-size: 80px 40px;
}
.logo__09f24__2iPWz {
  width: 80px;
  height: 40px;
  background-repeat: no-repeat;
}

.logo-link__09f24__270y- {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 80px;
  text-indent: -1000em;
}
.link-size--default__09f24__3xWLF {
  font-size: 14px;
  line-height: 20px;
}
.link-color--blue-dark__09f24__2DRa0 {
  color: #00838f;
}
.link__09f24__1kwXV {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.vertical-align-middle__09f24__zNCcM > .arrange-unit__09f24__1gZC1 {
  vertical-align: middle;
}

.arrange-unit-fill__09f24__O6JFU {
  width: 100%;
}

.search-suggest-container-outer__09f24__rSgmm {
  position: relative;
  min-height: 48px;
  max-width: 1000px;
}

.search-suggest-container-inner__09f24__2C9vZ {
  position: absolute;
  z-index: 1012;
  top: 0;
  left: 0;
  width: 100%;
}

.gutter-2__09f24__UKBse {
  margin-left: -16px;
  margin-right: -16px;
  border-collapse: separate;
  border-spacing: 16px 0;
}

.gutter-2__09f24__UKBse > .arrange-unit__09f24__1gZC1 {
  margin-left: 8px;
  margin-right: 8px;
  border-collapse: collapse;
  border-spacing: 0;
}

.search-suggest__09f24__1meTU {
  background: transparent;
}

.find-near-form__09f24__2y8Yy {
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.layout-equal__09f24__iAZL_ {
  display: flex;
}

.layout-equal__09f24__iAZL_ > .arrange-unit__09f24__1gZC1 {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: block;
}

.pseudo-input__09f24__14BtC.pseudo-input--find-near__09f24__1gi9G {
  margin: 0;
  padding: 13px 16px;
  border: none;
  box-shadow: none;
}
.pseudo-input__09f24__3Kshf {
  cursor: text;
  position: relative;
  overflow: hidden;
}

.display--inline__09f24__3iACj {
  display: inline;
}

.pseudo-input-text__09f24__34BOi {
  float: left;
  margin-right: 7px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* @media (min-width: 750px)
.responsive .pseudo-input-icon-container__09f24__31kP9 {
    display: none;
} */
.pseudo-input-icon-container__09f24__31kP9 {
  display: none;
}
.border-color--default__09f24__R1nRO {
  border-color: #eeeeef;
}
.margin-r1-5__09f24__3fQB8 {
  margin-right: 12px !important;
}

.css-1mpk29p {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: rgba(43, 39, 60, 1);
}

.css-1mpk29p svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.overflow--hidden__09f24__3u-sw {
  overflow: hidden;
}

.layout-equal__09f24__iAZL_ > .arrange-unit__09f24__1gZC1 {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: block;
}

.pseudo-input__09f24__14BtC.pseudo-input--near__09f24__1SB0F {
  border-radius: 0;
}

.input__09f24__3xiTV[type='date'],
.input__09f24__3xiTV[type='datetime-local'],
.input__09f24__3xiTV[type='email'],
.input__09f24__3xiTV[type='file'],
.input__09f24__3xiTV[type='month'],
.input__09f24__3xiTV[type='number'],
.input__09f24__3xiTV[type='password'],
.input__09f24__3xiTV[type='range'],
.input__09f24__3xiTV[type='tel'],
.input__09f24__3xiTV[type='text'],
.input__09f24__3xiTV[type='time'],
.input__09f24__3xiTV[type='url'],
.input__09f24__3xiTV[type='week'],
.pseudo-input__09f24__3Kshf,
.select-wrapper__09f24__1ly5v,
.textarea__09f24__1-l3j {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 13px 16px;
  background-color: #fff;
  border: 0;
  box-shadow: inset 0 0 0 1px #bbbac0;
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;
  margin: 4px 0 calc(4px + 18px);
}

.pseudo-input-text__09f24__34BOi {
  float: left;
  margin-right: 7px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.responsive .pseudo-input-icon-container__09f24__31kP9 {
  display: none;
}

.pseudo-input-icon-container__09f24__31kP9 {
  display: none;
}

.css-1mpk29p {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: rgba(43, 39, 60, 1);
}
.typeahead__09f24__2mlJD {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled:disabled,
.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled:focus,
.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled:hover {
  box-shadow: none;
}

.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  color: #cfced5;
  font-size: 16px;
  height: 22px;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.input__09f24__1XNzA.original-input__09f24__fFh2n {
  background: transparent;
  position: relative;
  font-size: 16px;
  height: 22px;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.arrange__09f24__AiSIM .arrange-unit__09f24__1gZC1 {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
.buttons-arrange-unit__09f24__zksuB {
  min-width: 56px;
}

.gutter-6__09f24__fMli3.layout-equal__09f24__iAZL_,
.gutter-6__09f24__fMli3.layout-wrap__09f24__1V3b5 {
  margin-left: -24px;
  margin-right: -24px;
}
.layout-equal__09f24__iAZL_ {
  display: flex;
}
.gutter-6__09f24__fMli3 {
  margin-left: -48px;
  margin-right: -48px;
  border-collapse: separate;
  border-spacing: 48px 0;
}
.arrange__09f24__AiSIM {
  display: table;
  min-width: 100%;
  table-layout: auto;
}
.border-color--default__09f24__R1nRO {
  border-color: #eeeeef;
}

.layout-equal__09f24__iAZL_ > .arrange-unit__09f24__1gZC1 {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: block;
}
.gutter-6__09f24__fMli3 > .arrange-unit__09f24__1gZC1 {
  margin-left: 24px;
  margin-right: 24px;
  border-collapse: collapse;
  border-spacing: 0;
}
.arrange__09f24__AiSIM .arrange-unit__09f24__1gZC1 {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

.secondary__09f24__3mm8J:hover,
.secondary__09f24__3mm8J:visited {
  color: #2b273c;
}
a.button__09f24__1hAjX {
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  text-decoration: none !important;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.find-near-button__09f24__UO8nW {
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  padding: 12px 16px;
  height: 48px;
  font-weight: 700;
  text-align: center;
  border: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.secondary__09f24__3mm8J {
  color: #2b273c;
  background: transparent;
  border: 1px solid #bbbac0;
  background-image: none;
  background-repeat: no-repeat;
  transition: all 0.8s;
  transition-property: background-image, background-color, background-position, background-size,
    border-color, box-shadow;
  background-position: calc(var(--mousedown-x) - calc(var(--button-width, 100px) * 200) / 2)
    calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200) / 2);
  background-size: calc(var(--button-width, 100px) * 200) calc(var(--button-width, 100px) * 200);
}
.button__09f24__1hAjX {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 16px;
  height: 40px;
  border-radius: 4px;
}

.layout-equal__09f24__iAZL_ > .arrange-unit__09f24__1gZC1 {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: block;
}
.gutter-6__09f24__fMli3 > .arrange-unit__09f24__1gZC1 {
  margin-left: 24px;
  margin-right: 24px;
  border-collapse: collapse;
  border-spacing: 0;
}
.arrange__09f24__AiSIM .arrange-unit__09f24__1gZC1 {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

.find-near-button__09f24__UO8nW {
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  padding: 12px 16px;
  height: 48px;
  font-weight: 700;
  text-align: center;
  border: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.primary__09f24__LBFK2 {
  color: #fff;
  background: #f43939;
  border: 1px solid #f43939;
  background-image: none;
  background-repeat: no-repeat;
  transition: all 0.8s;
  transition-property: background-image, background-color, background-position, background-size,
    border-color, box-shadow;
  background-position: calc(var(--mousedown-x) - calc(var(--button-width, 100px) * 200) / 2)
    calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200) / 2);
  background-size: calc(var(--button-width, 100px) * 200) calc(var(--button-width, 100px) * 200);
}
.button__09f24__1hAjX {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 16px;
  height: 40px;
  border-radius: 4px;
}
user agent stylesheet button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}
.gutter-6__09f24__fMli3 > .arrange-unit__09f24__1gZC1 {
  margin-left: 24px;
  margin-right: 24px;
  border-collapse: collapse;
  border-spacing: 0;
}

.text--truncated__09f24__2NCmr {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}
.text-align--center__09f24__3NO89 {
  text-align: center;
}
.text-color--inherit__09f24__1jgBv {
  color: inherit;
}
.text-weight--semibold__09f24__MTlNc {
  font-weight: 600;
}
.text-size--large__09f24__3-9KJ {
  font-size: 16px;
  line-height: 22px;
}
.text__09f24__2tZKC {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.css-12anxc3 {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: currentColor;
}

.css-12anxc3 svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.css-12anxc3 svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/* svg[Attributes Style] {
    width: 24;
    height: 24;
} */
user agent stylesheet svg:not(:root) {
  overflow: hidden;
}

.vertical-align-middle__09f24__zNCcM > .arrange-unit__09f24__1gZC1 {
  vertical-align: middle;
}
.arrange__09f24__AiSIM .arrange-unit__09f24__1gZC1 {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
.nowrap__09f24__26e9i {
  white-space: nowrap;
}

.padding-r1__09f24__23Vay {
  padding-right: 8px !important;
}

.margin-r1__09f24__BCulR {
  margin-right: 8px !important;
}

.margin-l1__09f24__2txuN {
  margin-left: 8px !important;
}

.header-link__09f24__3OkYO {
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.padding-b1__09f24__1d8yO {
  padding-bottom: 8px !important;
}
.padding-t1__09f24__2GVpG {
  padding-top: 8px !important;
}
.padding-r1__09f24__23Vay {
  padding-right: 8px !important;
}
.padding-l1__09f24__aqYTU {
  padding-left: 8px !important;
}

.display--inline-block__09f24__FsgS4 {
  display: inline-block;
}

.notification-wrapper__09f24__3YKGg {
  position: relative;
}
.text-align--left__09f24__3Drs0 {
  text-align: left;
}
.text-color--black-regular__09f24__1QxyO,
.text-color--normal__09f24__3oebo {
  color: #2b273c;
}
.text-weight--semibold__09f24__MTlNc {
  font-weight: 600;
}
.text__09f24__2tZKC {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.responsive .consumer-header__09f24__5vTsM {
  min-width: 0;
}

.responsive .logo-container__09f24__3Qmzx,
.v2 .logo-container__09f24__3Qmzx {
  width: calc((100vw - 1144px) / 2 - 78px) !important;
}
.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled:disabled,
.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled:focus,
.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled:hover {
  box-shadow: none;
}
.input__09f24__1XNzA.hidden-input__09f24__3e1WX:disabled {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  color: #cfced5;
  font-size: 16px;
  height: 22px;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.pseudo-input__09f24__3Kshf {
  cursor: text;
  position: relative;
  overflow: hidden;
}

normal__09f24__3oebo {
  color: #2b273c;
}
