.component__06b83__mFK-M {
  width: 100%;
  padding-right: 40px;
}

.component__06b83__mFK-M {
  background-color: #fff;
  box-sizing: border-box;
  padding: 12px 0;
  width: 100%;
  height: 68px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  position: relative;
}

.border-color--default__06b83__3-ifU {
  border-color: #eeeeef;
}

.header-container__06b83__bjkGB {
  margin-left: 0;
}

.header-container__06b83__bjkGB {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1480px;
}

.logo__06b83__2dyL8 {
  flex-grow: 2;
}

.logo-container__06b83__2cPop {
  display: flex;
  align-items: center;
}

.display--inline-block__06b83__1ZKqC {
  display: inline-block;
}
.business-info__06b83__1dQLw {
  min-width: 250px;
}
.margin-b1__06b83__1khoT {
  margin-bottom: 8px !important;
}

.logo__06b83__1Q_kj {
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/default.yji-e02121e4b885bf89645bdc9ea402a681.png);
  background-size: 80px 40px;
}

.logo__06b83__1Q_kj {
  width: 80px;
  height: 40px;
  background-repeat: no-repeat;
}

.logo-link__06b83__gXkkh {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 80px;
  text-indent: -1000em;
}

.link-size--default__06b83__7tls6 {
  font-size: 14px;
  line-height: 20px;
}

.link-color--blue-dark__06b83__85-Nu {
  color: #00838f;
}

.link__06b83__1G70M {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.logo-title__06b83__V5ePy {
  margin-left: 12px;
  margin-bottom: 8px;
}

.nowrap__06b83__35McF {
  white-space: nowrap;
}

.margin-t0-5__06b83__1VMSL {
  margin-top: 4px !important;
}

.heading--h3__06b83__lwXd8.alternate__06b83__2Mge5,
.heading--h4__06b83__27bDo.alternate__06b83__2Mge5,
.heading--h5__06b83__1WgmC.alternate__06b83__2Mge5 {
  font-weight: 400;
}

.heading--h4__06b83__27bDo {
  font-size: 20px;
  line-height: 26px;
}

.heading--h3__06b83__lwXd8,
.heading--h4__06b83__27bDo,
.heading--h5__06b83__1WgmC {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: #2b273c;
  font-weight: 700;
}

.auth-tooltip-container__06b83__e-34S {
  height: 41px;
}

.tooltipContainer__06b83__2PjJt {
  position: relative;
}

.notification-wrapper__06b83__RCXT7 {
  position: relative;
}

.inline__06b83__2fx1q {
  display: inline;
}

.dropdown__06b83__2flBr {
  position: relative;
  display: inline-block;
}

.header-toggle-mouse-mode__06b83__2N3_3 {
  outline: 0;
}

.link__06b83__343sR {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
}

.menu__06b83__D_v-T {
  position: absolute;
  width: 226px;
  right: -12px;
  z-index: 1012;
}

.menu__06b83__35yNN {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}

.padding-b2__06b83__34gV1 {
  padding-bottom: 16px !important;
}

.padding-t2__06b83__11Iek {
  padding-top: 16px !important;
}

.padding-r2__06b83__28zpp {
  padding-right: 16px !important;
}

.padding-l2__06b83__1Dr82 {
  padding-left: 16px !important;
}

.menu-item__06b83__3Vezz {
  background-color: #fff;
  color: #2b273c;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 0;
  border: 0;
  cursor: pointer;
  text-align: left;

  font: inherit;
  font-size: 100%;
  line-height: 1;
}

.padding-b1__06b83__3erWW {
  padding-bottom: 8px !important;
}

.text-align--center__06b83__2n2yQ {
  text-align: center;
}
.padding-t1__06b83__2aTOb {
  padding-top: 8px !important;
}

.padding-r1__06b83__1xqrz {
  padding-right: 8px !important;
}

.padding-l1__06b83__1UBqt {
  padding-left: 8px !important;
}

.menu-item-inner__06b83__gv1Ar {
  display: table;
}

.menu-item-content-container__06b83__17dmW {
  vertical-align: middle;
}
.display--table-cell__06b83__3otg8 {
  display: table-cell;
}

.padding-r1-5__06b83__1s-Oo {
  padding-right: 12px !important;
}

.css-12anxc3 {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: currentcolor;
}

.css-12anxc3 svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

svg:not(:root) {
  overflow: hidden;
}

.menu-section__06b83__11HSz + .menu-section__06b83__11HSz {
  border-top: 1px solid #eeeeef;
  margin-top: 8px;
  padding-top: 8px;
}

.biz-container__06b83__3snKt {
  max-width: 1480px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  background-color: #fff;
}

.biz-site-left-nav__06b83__3BebN {
  max-width: 216px;
  min-width: 216px;
  margin-top: 40px;
}

.left-nav__06b83__3Ullg {
  position: relative;
  z-index: 1078;
}

.left-nav-container__06b83__-stDd {
  box-sizing: border-box;
  display: block;
  position: static;
}

.biz-site-left-nav__06b83__3BebN {
  max-width: 216px;
  min-width: 216px;
  margin-top: 40px;
}

.information-container__06b83__27xlJ {
  margin-bottom: 8px;
  padding-bottom: 16px;
}

.border--bottom__06b83__3qNtD {
  border-bottom: 1px solid #eeeeef;
}
.gutter-1__06b83__2l5bx {
  margin-left: -8px;
  margin-right: -8px;
  border-collapse: separate;
  border-spacing: 8px 0;
}
.arrange__06b83__2C9bH {
  display: table;
  min-width: 100%;
  table-layout: auto;
}

.gutter-1__06b83__2l5bx > .arrange-unit__06b83__o3tjT {
  margin-left: 4px;
  margin-right: 4px;
  border-collapse: collapse;
  border-spacing: 0;
}
.arrange__06b83__2C9bH .arrange-unit__06b83__o3tjT {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
.arrange-unit-fill__06b83__3Sfw1 {
  width: 100%;
}

.heading--h4__06b83__27bDo {
  font-size: 20px;
  line-height: 26px;
}
.heading--h3__06b83__lwXd8,
.heading--h4__06b83__27bDo,
.heading--h5__06b83__1WgmC {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: #2b273c;
  font-weight: 700;
}

.text-align--left__06b83__2XGa- {
  text-align: left;
}
.text-color--black-extra-light__06b83__2OyzO,
.text-color--mid__06b83__jCeOG,
.text-color--subtle__06b83__3DZpi {
  color: #757280;
}
.text-size--small__06b83__3NVWO {
  font-size: 12px;
  line-height: 18px;
}
.text__06b83__2Kxyz {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.text-color--blue-dark__06b83__1jX7S {
  color: #00838f;
}

.text-weight--bold__06b83__1elNz {
  font-weight: 700;
}

.css-ovx9y9 {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: rgba(0, 131, 143, 1);
}

.nav-link__06b83__2noz4:hover {
  text-decoration: none;
}

.nav-item-v2__06b83__vmJJv.active__06b83__cBu5j,
.nav-item-v2__06b83__vmJJv:hover {
  background: #f4f4f4;
}

.nav-item-v2__06b83__vmJJv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 4px;
}

.css-1mpk29p {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: rgba(43, 39, 60, 1);
}

.css-1mpk29p svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.text-container__06b83__2z-fK {
  flex: 1;
}

.margin-l1-5__06b83__2lUKU {
  margin-left: 12px !important;
}

.text-color--black-regular__06b83__2vGEn,
.text-color--normal__06b83__3xep9 {
  color: #2b273c;
}

.text-weight--semibold__06b83__2l0fe {
  font-weight: 600;
}
.lemon--p__06b83__3Qnnj {
  margin: 0;
}

.content-container__06b83__2gSeg {
  width: calc(100% - 216px - 40px);
  margin-left: 40px;
}

.container-default__06b83__1Sj3L {
  flex: 0 auto;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;
}

.grid__06b83__15mIv {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -16px;
}

.grid-column__06b83__3ZRhU {
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  margin: 0 16px;
  min-width: 0;
}

.grid-column-item__06b83__1-eL7 {
  width: 100%;
  margin-bottom: 24px;
}

.business-information-header__06b83__31Hz9 {
  position: relative;
  display: flex;
  border-radius: 5px;
  height: 250px;
  overflow: hidden;
}

.business-information-header__06b83__31Hz9 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.padding-l3__06b83__1scQ0 {
  padding-left: 24px !important;
}

.business-information__06b83__1mOZN {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}

.gutter-auto__06b83__1Ep_j.grid__06b83__1Pz7f {
  min-width: calc(100% + 2 * 32px);
}
.gutter-auto__06b83__1Ep_j {
  margin-left: -32px;
  margin-right: -32px;
  border-collapse: separate;
  border-spacing: 32px 0;
}

.gutter-auto__06b83__1Ep_j > .arrange-unit__06b83__o3tjT {
  margin-left: 16px;
  margin-right: 16px;
  border-collapse: collapse;
  border-spacing: 0;
}

.vertical-align-bottom__06b83__2xIbs > .arrange-unit__06b83__o3tjT {
  vertical-align: bottom;
}
.arrange__06b83__2C9bH .arrange-unit__06b83__o3tjT {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
.arrange-unit-grid-column--8__06b83__2dUx_ {
  width: 66.66667%;
}

.business-name__06b83__2Y1ql {
  min-width: 402px;
}

.business-information__06b83__1mOZN a,
.business-information__06b83__1mOZN h2,
.business-information__06b83__1mOZN span {
  color: #fff;
}
.heading--h2__06b83__1g9VN {
  font-size: 28px;
  line-height: 36px;
}

.text-color--white__06b83__22aE8 {
  color: #fff;
}

.business-information__06b83__1mOZN a,
.business-information__06b83__1mOZN h2,
.business-information__06b83__1mOZN span {
  color: #fff;
}

.gutter-auto__06b83__1Ep_j > .arrange-unit__06b83__o3tjT {
  margin-left: 16px;
  margin-right: 16px;
  border-collapse: collapse;
  border-spacing: 0;
}

.vertical-align-bottom__06b83__2xIbs > .arrange-unit__06b83__o3tjT {
  vertical-align: bottom;
}

.arrange-unit-grid-column--4__06b83__33Wpc {
  width: 33.33333%;
}

.icon__06b83__ehCWV.icon--v2__06b83__1yp8c.icon--hover-white__06b83__2GGQ5:focus,
.icon__06b83__ehCWV.icon--v2__06b83__1yp8c.icon--hover-white__06b83__2GGQ5:hover,
.icon__06b83__ehCWV.icon--v2__06b83__1yp8c.icon--white__06b83__3vmFJ {
  fill: #fff;
}
.business-information__06b83__1mOZN a,
.business-information__06b83__1mOZN h2,
.business-information__06b83__1mOZN span {
  color: #fff;
}

.icon__06b83__ehCWV {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -0.1em;
  fill: #666;
}
